%h1 Recipients

%form{method: 'POST'}
  %label.inline-block
    Name
    %input{name: 'name'}
  %label.inline-block
    Email Address
    %input{name: 'email_address'}
  %button Create

%table
  %tr
    %th Name
    %th Email Address
    %th Actions
  - @recipients.each do |recipient|
    %tr
      %td= recipient.name
      %td= recipient.email_address
      %td
        %form.inline{method: 'post', action: "recipients/#{recipient.id}", id: "deleteLink#{recipient.id}Form"}
          %input{type: 'hidden', name: '_method', value: 'DELETE'}
          %a{href: '#', onclick: "document.getElementById('deleteLink#{recipient.id}Form').submit()"} Delete