%form{method: 'POST'}
  %label.inline
    Name
    %input{name: 'name'}
  %label.inline
    Email Address
    %input{name: 'email_address'}
  %button Create

%ul
  - @recipients.each do |recipient|
    %li
      = "#{recipient.name} - #{recipient.email_address}"
      %form{method: 'post', action: "recipients/#{recipient.id}", id: "deleteLink#{recipient.id}Form"}
        %input{type: 'hidden', name: '_method', value: 'DELETE'}
        %a{href: '#', onclick: "document.getElementById('deleteLink#{recipient.id}Form').submit()"} Delete